/* Fontface declarations for Oxanium font family */
@font-face {
  font-family: 'Oxanium';
  src: url('/fonts/oxanium/Oxanium-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oxanium';
  src: url('/fonts/oxanium/Oxanium-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oxanium';
  src: url('/fonts/oxanium/Oxanium-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oxanium';
  src: url('/fonts/oxanium/Oxanium-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oxanium';
  src: url('/fonts/oxanium/Oxanium-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oxanium';
  src: url('/fonts/oxanium/Oxanium-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oxanium';
  src: url('/fonts/oxanium/Oxanium-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Fontface declarations for Source Sans 3 font family */
@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/source-sans-3/SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/source-sans-3/SourceSans3-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/source-sans-3/SourceSans3-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
} 