/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

@import 'tailwindcss';

@theme {
  --color-primary-500: red;
  --color-accent-500: blue;
  --font-oxanium: 'Oxanium', sans-serif;
  --font-sans: 'Source Sans 3', sans-serif;
}